#aboutme {
    body {
        font-family: Arial, sans-serif;
        background-color: #ffffff;
        font-size: 18px;
    }

    h1 {
        color: #ff0000;
        font-size: 40px;
        text-align: center;
    }
 
    p {
        color: #000000;
        font-size: 20px;
        line-height: 1.6;
        padding: 10px;
    }

    #About{
        border: 8px solid #ff0000;
        padding: 15px;
        margin: 20px auto;
        width: 80%;
    }

    .profile-pic {
        width:150px;
        height: auto;
        border: radius 50%;
        margin: 10px auto
        display: block;
    }
}

#contact {
    body {
        font-family: Arial, sans-serif;
        background-color: #ffffff;
        font-size: 18px;
    }

    h1 {
        color: #000000;
        font-size: 40px;
        text-align: center;
    }

    p {
        color: #ff0000;
        font-size: 20px;
        line-height: 1.6;
        padding: 10px;
    
    }

    #List {
        border: 8px solid #ff0000;
        padding: 15px;
        margin: 20px auto;
        width: 80%;
    }

    form {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
    }
 
    label {
        display: block;
        margin-top: 15px;
        font-weight: bold;
    }
 
    input, textarea {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        }
 
    button {
        margin-top: 15px;
        padding: 10px 20px;
        background-color: #0056b3;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
 
    button:hover {
        background-color: #004494;
    }
}


 .unity-section {
        display:flex;
        gap: 20px;
        margin: 20px 0;
 }

 .website-section {
    display:flex;
    gap: 20px;
    margin: 20px 0;
 }

 .image-column {
        width: 40%;
        position: relative;
        height: auto;
 }

.descriptive-column {
        width: 60%;
 }
 
.label {
  position: absolute;
  top: 10px;             
  right: 10px;           
  background-color: crimson;
  color: white;
  padding: 5px 10px;
  font-size: 0.9rem;
  border-radius: 5px;
}